@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Nunito:wght@400;500;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body::before {
    display: block;
    content: '';
    height: 81px;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 800;
}

.nav-item {
    font-size: 18px;
    font-weight: 700;
}

.nav-item .l {
    margin-right: 13px;
}

.navbar-custom {
    background-color: #151723;
}

.navbar-dark .nav-item .nav-link, #home {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    color: crimson;
}

.home {
    background-color: #1b1e2d;
    padding-top: 100px;
    padding-bottom: 100px;
}

.home a {
    text-decoration: none;
    color: #fff;
}

.links .link {
    display: inline-block;
    width: 50px;
    height: 50px;
    align-items: center;
    border: 2px solid crimson;
    border-radius: 50%;
    transition: 0.4s;
    margin-right: 12px;
}

.links .link:hover {
    background-color: crimson;
}

.link a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.link i, .about-me-title, .contact i {
    font-size: 24px;
}

.a-what {
    font-size: 32px;
}

.name {
    font-size: 46px;
}

.hello {
    font-weight: 600;
    font-size: 22px;
}

.my-portfolio-btn {
    padding: 13px 40px;
    font-size: 15px;
    border-radius: 50px;
    border: 2px solid crimson;
    color: #fff;
    transition: 0.4s;
    background-color: #1b1e2d;
}

.my-portfolio-btn:hover {
    background-color: crimson;
}

.about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #181a28;
    color: #fff;
}

.about .title, .skills .title, .contact .title, .portfolio .title {
    width: fit-content;
    margin: auto;
    font-size: 32px;
}

.about-img {
    margin: auto;
    width: fit-content;
}

.about img {
    border-radius: 50%;
}

.about p {
    font-size: 18px;
}

@media (max-width: 767px) {
    .col-md-4 {
        margin-bottom: 48px;
    }
}

.skills {
    background-color: #1b1e2d;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}

.skill-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.skill-list ul {
    padding-left: 0;
}

.skill-list li {
    display: inline-block;
    list-style: none;
    padding: 5px 11px;
    font-size: 18px;
    margin-bottom: 8px;
    margin-right: 3px;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
}

.skill-list img {
    width: 18px;
    margin-bottom: 1px;
}

.skills .col-md {
    margin-bottom: 12px;
}

.portfolio {
    background-color: #181a28;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 86px;
}

.portfolio .list img {
    border-radius: 10px;
    margin: 0 0;
}

.contact {
    background-color: #1b1e2d;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 92px;
}

.contact-list {
    border: 1px solid #212437;
    border-radius: 10px;
    background-color: #212437;
    margin-bottom:16px;
    padding: 18px 26px;
}

.contact .content-title {
    font-size: 20px;
    margin-bottom: 4px;
}

.contact i {
    color: crimson;
}

.contact .row {
    padding: 0 12px;
}

@media (min-width: 992px) {
    .contact-list {
        margin: 0 12px 8px 12px;
    }
}

.footer {
    background-color: #151723;
    color: #fff;
    padding: 30px 0;
}

.footer .content {
    width: fit-content;
    margin: auto;
}

.line {
    height: 2px;
    background-color: crimson;
    margin: auto;
}

.go-top-btn {
    position: fixed;
    color: #181a28;
    bottom: 40px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    color: crimson;
}

.go-top-btn:hover {
    color: crimson;
}

.go-top-btn {
    opacity: 0;
    transition: 0.7s;
}

.go-top-btn.show {
    opacity: 1;
}

.portfolio .card {
    border-color: #181a28;
    background-color: #181a28;
}

.portfolio .card-img-overlay {
    /* background-color: rgba(24, 26, 40, 0); */
    color: #fff;
}

.card-img-overlay .wrap {
    align-self: flex-end;
}

.portfolio .card-img-overlay {
    opacity: 0;
    transition: 0.7s;
}

.portfolio .card-img-overlay:hover {
    opacity: 1;
    background-color: rgba(24, 26, 40, 0.6);
}

.portfolio .tech-list ul {
    padding-left: 0;
}

.portfolio .tech-list li {
    display: inline-block;
    list-style: none;
    padding: 5px 11px;
    font-size: 13px;
    margin-bottom: 8px;
    margin-right: 3px;
    font-family: 'Courier Prime', monospace;
    font-weight: 500;
    background-color: #51545B;
    color: #fff;
    border-radius: 50px;
}

.portfolio .card-title {
    font-weight: 700;
    font-size: 22px;
}