@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Nunito:wght@400;500;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body::before {
  display: block;
  content: '';
  height: 81px;
}